<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>

      <form method="POST" action="/api/updateaction">
        <div class="input-group">
          <label for="action-select">Action:</label>
          <select id="action-select" name="action">
            <option>Select action....</option>
            <% for (let i = 0; i < actions.length; i++) { %>
            <option value="<%= actions[i].action_id %>">
              <%= actions[i].label %>
            </option>
            <% } %>
          </select>
        </div>

        <div class="input-group">
          <label for="number-input">Points:</label>
          <input
            type="number"
            id="number-input"
            placeholder="Enter number of points"
            min="0"
            step="1"
            name="points"
          />
        </div>

        <div class="submit-button">
          <button type="submit" class="button">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
