<!DOCTYPE html>
<html>
  <head>
    <title><%= season.label %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= season.label %></h1>
      <%- include('table', {data: data}) %>

      <button class="button" onclick="clickHandler()">Prilagodi ispis</button>
    </div>

    <script src="/home.js"></script>
  </body>
</html>
